<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donovan Adams | Portfolio</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body class="bg-gray-200 font-sans">

				
		
<header class="lg:px-16 px-6 bg-gray-800 flex flex-wrap items-center lg:py-0 py-2">
	<div class="flex-1 flex justify-left items-center text-white mr-6 flex-shrink-0">
      	<img src="../images/logo.svg" class="fill-current h-8 w-8 mr-4" width="54" height="54" />
    	<span class="font-semibold text-xl mr-4">Donovan Adams</span>
    	<span class="text-xs mt-1"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#117;&#115;&#105;&#110;&#101;&#115;&#115;&#64;&#104;&#121;&#100;&#114;&#111;&#116;&#105;&#107;&#46;&#99;&#111;&#109;">&#98;&#117;&#115;&#105;&#110;&#101;&#115;&#115;&#64;&#104;&#121;&#100;&#114;&#111;&#116;&#105;&#107;&#46;&#99;&#111;&#109;</a>
    </span>
  </div>

   <label for="menu-toggle" class="pointer-cursor lg:hidden block"><svg class="fill-current text-gray-200" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></label>
  <input class="hidden" type="checkbox" id="menu-toggle" />

  <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
  		<nav>
      <ul class="lg:flex items-center justify-between text-base text-gray-300 pt-4 lg:pt-0">
        <li><a class="lg:p-4 py-3 px-0 block hover:text-white" href="https://www.linkedin.com/in/donovanadams/" target="_bank">Linkedin</a></li>
        <li><a class="lg:p-4 py-3 px-0 block hover:text-white" href="https://github.com/hydrotik" target="_bank">Github</a></li>
        
        <a href="http://www.hydrotik.com/Donovan_Adams_2020.pdf" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0 lg:mb-0 mb-2 target="_bank"">Download Resume</a>
        <a href="http://www.hydrotik.com/Donovan_Adams_2020.pdf" class="lg:ml-4 flex items-center justify-start lg:mb-0 mb-4 pointer-cursor" target="_bank">
      <img class="rounded-full w-10 h-10 border-2 border-transparent hover:border-white" src="./images/donovan.jpg" alt="Donovan Adams">
    </a>
        </li>
      </ul>
    </nav>

  </div>

  </header>
		
		
		
		
    <div class="grid max-w-4xl mx-auto p-8">
    	<a href="http://www.thehumblealpha.com" target="_blank" class="bg-white rounded h-full text-grey-darkest no-underline shadow-md">
            <h1 class="text-3xl p-6">thehumblealpha.</h1>
            <img class="w-full block rounded-b" src="images/thehumblealpha_crop.jpg" alt="The Humble Alpha">
        </a>
        <a href="images/thebay.jpg" target="_blank" class="bg-white rounded h-full text-grey-darkest no-underline shadow-md">
            <h1 class="text-3xl p-6">the bay.</h1>
            <img class="w-full block rounded-b" src="images/thebay_crop.jpg" alt="Hudson's Bay">
        </a>
        <a href="images/lordandtaylor.jpg" target="_blank" class="bg-white rounded h-full text-grey-darkest no-underline shadow-md">
            <h1 class="text-3xl p-6">lord & taylor.</h1>
            <img class="w-full block rounded-b" src="images/lordandtaylor_crop.jpg" alt="Lord & Taylor">
        </a>
        <a href="images/fashionstar.jpg" target="_blank" class="bg-white rounded h-full text-grey-darkest no-underline shadow-md">
            <h1 class="text-3xl p-6">fashion star.</h1>
            <img class="w-full block rounded-b" src="images/fashionstar_crop.jpg" alt="Macy's Fashion Star">
        </a>
        <a href="images/glamorama.jpg" target="_blank" class="bg-white rounded h-full text-grey-darkest no-underline shadow-md">
            <h1 class="text-3xl p-6">glamorama.</h1>
            <img class="w-full block rounded-b" src="images/glamorama_crop.jpg" alt="Macy's Glamorama">
        </a>
        <a href="images/videoplayer.jpg" target="_blank" class="bg-white rounded h-full text-grey-darkest no-underline shadow-md">
            <h1 class="text-3xl p-6">shopable video.</h1>
            <img class="w-full block rounded-b" src="images/videoplayer_crop.jpg" alt="A photo of a man">
        </a>
        <a href="http://www.hydrotik.com/flashsite.php" target="_blank" class="bg-white rounded h-full text-grey-darkest no-underline shadow-md">
            <h1 class="text-3xl p-6">hydrotik.</h1>
            <img class="w-full block rounded-b" src="images/hydrotik_old_crop.jpg" alt="Old Hydrotik Site">
        </a>
    </div>
</body>
</html>






<!--



<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Donovan Adams | Portfolio</title>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>

 <link rel="stylesheet" type="text/css"
  href="styles.css" media="all"/>

<script type="text/javascript">
	$(window).load(function () {
		$('#main').fadeIn(1500, function() {
        // Animation complete
      });
	});
</script>

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	
</head>
<body>
<div id="container">
	<div id="main">
		<div id="header">
			<h1>Donovan Adams</h1>
			<h2>69-40 108th St. #2F Forest Hills, NY 11375 | +1.917.650.5950 | <a href="http://www.hydrotik.com/Donovan_Adams_2020.pdf" target="_blank">Resume</a></h2>
			<h3><a href="../design.cfm" target="_blank"><img src="images/email.gif" class="email" /></a> | <a href="https://www.linkedin.com/in/donovanadams/" target="_blank">Linkedin</a> | <a href="https://github.com/hydrotik" target="_blank">Github</a> | <a href="http://www.hydrotik.com" target="_blank">www.hydrotik.com</a></h3>
		</div>
		
		<div id="row">
			<div id="col">
				<div id="item">
					<a href="http://www.hydrotik.com/osmf" target="_blank"><img src="images/thumb/osmf.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>OSMF Video Player</span> | Experiment | Flash Dev/Design</span><a href="javascript:void(0)" class="info" border="none">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.hydrotik.com/osmf/" target="_blank" class="infoLink">www.hydrotik.com/osmf</a><div class="status">Status: <span class="inactive">Inactive</span></div><br /><hr class="dotted" />Work in progress OSMF video player</div>
				</div>
			</div>
			<div id="col">
				<div id="item">
					<a href="http://www.hydrotik.com/navtest/" target="_blank"><img src="images/thumb/navtest.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Papervision3D Navigation</span> | Experiment | Flash Dev/Design</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.hydrotik.com/navtest/" target="_blank" class="infoLink">www.hydrotik.com/navtest</a><div class="status">Status: <span class="inactive">Inactive</span></div><br /><hr class="dotted" />Proof of concept Papervision3D Navigation. Ongoing work in progress</div>
				</div>
			</div>
		</div>
		
		<div id="row">
			<div id="col">
				<div id="item">
					<a href="http://www.syfy.com" target="_blank"><img src="images/thumb/syfy.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Syfy.com Homepage</span> | Syfy 2010 | Flash Dev</span><a href="javascript:void(0)" class="info" border="none">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.syfy.com" target="_blank" class="infoLink">www.syfy.com</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />XML driven Flash components for promotional items on Syfy.com Homepage</div>
				</div>
			</div>
			<div id="col">
				<div id="item">
					<a href="http://www.syfy.com/caprica/" target="_blank"><img src="images/thumb/caprica.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Caprica Show Site</span> | Syfy 2010 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.syfy.com/caprica/" target="_blank" class="infoLink">www.syfy.com/caprica</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />XML driven Flash components for promoting show specific items. Templated system for easy deployment by HTML developers</div>
				</div>
			</div>
		</div>
		
		<div id="row">
			<div id="col">
				<div id="item">
					<a href="http://www.syfy.com/destinationtruth/" target="_blank"><img src="images/thumb/destinationtruth2.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Destination Truth Show Site</span> | Syfy 2010 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.syfy.com/destinationtruth/" target="_blank" class="infoLink">www.syfy.com/destinationtruth</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />XML driven Flash components for promoting show specific items. Templated system for easy deployment by HTML developers</div>
				</div>
			</div>
			<div id="col">
				<div id="item">
					<a href="http://www.syfy.com/palmpixi/" target="_blank"><img src="images/thumb/palmpixi.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Palm Pixi/Alice Microsite</span> | Syfy/Palm 2009 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.syfy.com/palmpixi/" target="_blank" class="infoLink">www.syfy.com/palmpixi</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />Alice and Palm Pixi 360 microsite</div>
				</div>
			</div>
		</div>
		
		<div id="row">
			<div id="col">
				<div id="item">
					<a href="http://www.syfy.com/alice/kay/" target="_blank"><img src="images/thumb/kay.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Kay Jewelers/Alice Microsite</span> | Syfy 2009 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.syfy.com/alice/kay/" target="_blank" class="infoLink">www.syfy.com/alice/kay</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />Alice and Kay Jewelers 360 microsite</div>
				</div>
			</div>
			<div id="col">
				<div id="item">
					<a href="http://www.acrossthehallmovie.com/" target="_blank"><img src="images/thumb/acrossthehall.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Across The Hall</span> | 2009 | Design/Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.acrossthehallmovie.com/" target="_blank" class="infoLink">www.acrossthehallmovie.com</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />XML driven Flash site for the release of the motion picture "Across The Hall"</div>
				</div>
			</div>
		</div>
		
		
		<div id="row">
			<div id="col">
				<div id="item">
					<a href="http://www.syfy.com/gh/" target="_blank"><img src="images/thumb/gh.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Ghost Hunters HQ</span> | Sci Fi 2009 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.syfy.com/gh/" target="_blank" class="infoLink">www.scifi.com/gh</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />Hub for Ghost Hunters shows that centralizes content from each show's site and features it in one area</div>
				</div>
			</div>
			<div id="col">
				<div id="item">
					<a href="http://www.syfy.com/battlestar/" target="_blank"><img src="images/thumb/battlestar.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Battlestar Interactive Show Site</span> | Sci Fi 2008 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.syfy.com/battlestar/" target="_blank" class="infoLink">www.syfy.com/battlestar</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />Microsite for Battlestar Galactica with interactive parallax "Last Supper" image</div>
				</div>
			</div>
		</div>
		
		<div id="row">
			<div id="col">
				<div id="item">
					<a href="http://www.hydrotik.com/destinationtruth/" target="_blank"><img src="images/thumb/destinationtruth.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Destination Truth Microsite</span> | Sci Fi 2008 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.hydrotik.com/destinationtruth/" target="_blank" class="infoLink">www.scifi.com/destinationtruth</a><div class="status">Status: <span class="inactive">Inactive</span></div><br /><hr class="dotted" />Microsite for the "Destination Truth" series featuring an interactive map showing epsiode locations and featured creatures</div>
				</div>
			</div>
			<div id="col">
				<div id="item">
					<a href="http://www.tequilasunrisevilla.com/" target="_blank"><img src="images/thumb/tequila.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Tequila Sunrise Villa Anguilla</span> | 2007 | Design/Flash Dev/Brand</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.tequilasunrisevilla.com/" target="_blank" class="infoLink">www.tequilasunrisevilla.com</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />XML driven Flash site for Tequila Sunrise, a villa located on the Caribbean island of Anguilla</div>
				</div>
			</div>
		</div>
		
		
		
		<div id="row">
			<div id="col">
				<div id="item">
					<a href="http://www.hydrotik.com/eureka/" target="_blank"><img src="images/thumb/eureka.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Eureka Interactive Show Site</span> | Sci Fi 2007 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.hydrotik.com/eureka/" target="_blank" class="infoLink">www.scifi.com/eureka</a><div class="status">Status: <span class="inactive">Inactive</span></div><br /><hr class="dotted" />Microsite for Eureka show featuring parallax effect and Papervision navigation</div>
				</div>
			</div>
			<div id="col">
				<div id="item">
					<a href="http://www.charmingescapescollection.com/" target="_blank"><img src="images/thumb/charming.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Charming Escapes</span> | Anguilla Tourism 2007 | Design/Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.charmingescapescollection.com/" target="_blank" class="infoLink">www.charmingescapescollection.com</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />XML Driven Flash site for the Anguilla Tourist Board "Charming Escapes Collection" initiative featuring an interactive directory of places to stay</div>
				</div>
			</div>
		</div>
		
		<div id="row">
			<div id="col">
				<div id="item">
					<a href="http://www.syfy.com/tinman/" target="_blank"><img src="images/thumb/tinman.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Tinman</span> | Sci Fi 2007 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.syfy.com/tinman/" target="_blank" class="infoLink">www.syfy.com/tinman</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />Fully immersive Flash microsite for Tinman miniseries</div>
				</div>
			</div>
			<div id="col">
				<div id="item">
					<a href="http://www.hydrotik.com/lostroom/" target="_blank"><img src="images/thumb/lostroom.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Lost Room</span>| 2006 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.hydrotik.com/lostroom/" target="_blank" class="infoLink">www.scifi.com/lostroom</a><div class="status">Status: <span class="inactive">Inactive</span></div><br /><hr class="dotted" />Fully immersive Flash microsite for the Lostroom miniseries. Worked closely with Moses Gunesch on Flash and creative development</div>
				</div>
			</div>
		</div>
		
		<div id="row">
			<div id="col">
				<div id="item">
					<a href="http://www.hydrotik.com/superhero/" target="_blank"><img src="images/thumb/superhero.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Who Wants To Be A Superhero</span> | Sci Fi 2007 | Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.hydrotik.com/superhero/" target="_blank" class="infoLink">www.scifi.com/superhero</a><div class="status">Status: <span class="inactive">Inactive</span></div><br /><hr class="dotted" />Interactive microsite for the "Who Wants To Be A Superhero" series</div>
				</div>
			</div>
			<div id="col">
				<div id="item">
					<a href="http://www.hydrotik.com" target="_blank"><img src="images/thumb/hydrotik.jpg" width="435" height="300" /></a><br />
					<span id="title"><span>Hydrotik</span>| 2005 | Design/Flash Dev</span><a href="javascript:void(0)" class="info">More Info</a><br />
					<div id="moreinfo"><hr class="solid" /><br /><a href="http://www.hydrotik.com" target="_blank" class="infoLink">www.hydrotik.com</a><div class="status">Status: <span class="active">Active</span></div><br /><hr class="dotted" />XML driven Flash site for photographers and personal information</div>
				</div>
			</div>
		</div>
		
		
		<div id="footer">All images and work are Copryright of their respective site owners.</div>

	<div>
</div>

<script type="text/javascript">
	$(".info").click(function (e) {
		$(e.target).siblings("#moreinfo").slideToggle("slow");
		$(e.target).siblings(".info").toggleClass(".highlight");
	});
</script>

</body>
</html>
-->